<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body >
    <h2 >Here is the full detail of id:<%= post.id%></h2>

    <h3 >@User : <%= post.username%></h3>
    <h4>Comment :<%= post.comment %></h4>
</body>
</html>